.circle {
    width:15px;
    height:15px;

    border:1px solid #E2E2E2;
    border-radius:50%;
}

.big-circle {
    width:150px;
    height:150px;

    border:1px solid #E2E2E2;
    border-radius:50%;
}

.green{
    background-color:#23DE30;
}

.red{
    background-color:#F24646;
}

#logo {
    height:25pt;
    margin-right:10px;
}
