<div>
    <div style="float:left; margin-top:20px; margin-left:20px;" class="big-circle <%= (@service.status.is_up?) ? "green" : "red" %>"></div>
    <div style="float:left; margin-left:50px;">
        <h3><%= @service.name %></h3>
        <p><%= @service.description %></p>
    </div>
    <br style="clear:both;" /><br/>
</div>
